<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="{% static 'earnings_data/style.css' %}">
    <title>Fintech Earnings</title>
  </head>
  <body>
    <div id="content" class="content">
      {% block content %}
      {% endblock %}
    </div>
  </body>
  <footer>
    <div class="footer-container">
      <div class="about-us">
        <h3>About Us</h3>
        <p>We are a group of students who have come together to create an application for our software engineering class. While we are creating this project for a grade, this is also a topic we all chose to be a part of and showed interest in. We hope that it will be useful in predicting rising or falling stock prices baseed on earnings data.</p>
      </div>
      <div class="contact-us">
        <h3>Contact Us</h3>
        <ul>
          <li></li>
          <li>Utah State University</li>
          <li>Logan, UT 84321</li>
          <!-- <li>Phone: 555-555-5555</li>
          <li>Email: info@company.com</li> -->
        </ul>
      </div>
    </div>
  </footer>
  {% include "earnings_data/initAnimation.html" %}
  <script>
    const contentDiv = document.getElementById('initAnimation');
    contentDiv.addEventListener('click', function() {
        window.location.assign('/home/')
    });
</script>
</html>