<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="{% static 'earnings_data/style.css' %}">
  </head>
  <body>
    <div id="content" class="content">
      {% block content %}
      {% endblock %}
    </div>
  </body>
  <footer>
    <div class="footer-container">
      <div class="about-us">
        <h3>About Us</h3>
        <p>We are a company dedicated to providing quality products and services to our customers.</p>
      </div>
      <div class="contact-us">
        <h3>Contact Us</h3>
        <ul>
          <li>123 Main St.</li>
          <li>Anytown, USA 12345</li>
          <li>Phone: 555-555-5555</li>
          <li>Email: info@company.com</li>
        </ul>
      </div>
    </div>
  </footer>
  {% include "earnings_data/initAnimation.html" %}
  <script>
    const contentDiv = document.getElementById('initAnimation');
    contentDiv.addEventListener('click', function() {
        window.location.assign('/home/')
    });
</script>
</html>