<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="{% static 'earnings_data/style.css' %}">
  </head>
  <body>
    <div class="homepage">
      <div class="content">
        <div class="menu">
          <div class="menu-item">
            <div class="menu-text">
              <a href="#" class="link">Price Trend</a>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-text">
              <a href="" class="link">Price History</a>
            </div>
          </div>
          <div class="menu-item menu-center">
            <a href="#" class="link">Home</a>
          </div>
          <div class="menu-item">
            <div class="menu-text">
              <a href="" class="link">About Us</a>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-text">
              <a href="" class="link">Contact</a>
            </div>
          </div>
        </div>
      </div>
      <div class="home">
        <h1>This is the Home page</h1>
      </div>
    </div>
  </body>
</html>