html {
font-family: Avenir, Helvetica, Arial, sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
/* text-align: center; */
color: white;
/* margin-top:60px; */
}
body {
background: #080808;
background-image: url("./assets/city.gif");
background-size: cover;
height: 100vh;
padding:0;
margin:0;
}

.menu {
display: flex;
align-items: center;
justify-content: space-around;
margin-top: 10px;
}

.menu-item {
flex: 1;
text-align: center;
}

.menu-text {
font-size: 20px;
color: #818181;
cursor: pointer;
padding: 10px;
border-bottom: 2px solid #080808;
width: fit-content;
margin: auto;
}

.menu-text:hover {
border-bottom: 2px solid #c278ff;
}

/*.menu-center {
font-size: 30px;
color: #EAEAEA;
}*/

.menu-center:hover {
border-bottom: 2px solid #c278ff;
cursor: pointer;
}

.link {
color: #818181;
text-decoration: none;
}

.homelink {
font-size: 30px;
color: #EAEAEA;
text-decoration: none;
}