
p {
    color: green;
}

div {
    background-color: orange;
}

h1 {
    text-align: center;
    color: blue;
}

.stuff-box {
    background-color: lightgoldenrodyellow;
	font-family: 'helvetica neue', helvetica, sans-serif;
	color: white;
	letter-spacing: 1px;
	text-align: center;
	padding: 3px 10px;
	margin: 10px;
	cursor: pointer;
	border-radius: 10px;
	border-width: 2px;
	border-style: solid;
}

.shadowed {
	text-shadow: 1px 1px 2px black;
	color:       white;
}