.header{
	background-color: #31d48a;
}
.button{
	background-color: #1ea86a;
	color:white;
	padding: 15px 30px;
	border-radius: 12px;

}
.table{
	width: 100%;
}

.button1:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
button.button2{
	margin: 10px;
}

body{
	background-color: #96e9c3;
	margin: 0 0 40px;
}
h1{
	color: white;
	text-align: center;

}
h2{
	color: white;
	text-align: center;
	font-style: italic;

}
tr{
	margin: 0,0,10px;
	padding: 5px;
}
